<header>
    <div class="logo">
        <img src="/imagens/logo-de-cria.png" alt="">
    </div>

    <nav>
        <a href="/index.html">INICIO</a>
        <a href="/tecnology.html">TECNOLOGIA</a>
        <a href="/cine.html">CINEMA</a>
        <a href="/sport.html">ESPORTE</a>
        <a href="/health.html">SAÚDE</a>
    </nav>

    <div class="icones-header">
        <a href="https://github.com/kauannyxg" target="_blank">
            <img src="/imagens/github.png">
        </a>

        <a href="/login.html" id="login-btn">
            <img src="/imagens/loginicon.png">
        </a>
    </div>
</header>